<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Page</title>
</head>
<body>
    <div id="content">
        <!-- card -->
        <div class="grid grid-cols-12 mt-4">
            <div class="col-span-0 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <a href="#" class="block  p-6 border-t-8 border-blue-700 bg-white   rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-700">
                    <!-- alert message -->
                    <div data-th-replace="~{message :: messagebox}"></div>

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sign Up Here</h5>
                    <p class="font-normal  text-gray-400 dark:text-gray-400">Start Managing your contacts on cloud....</p>
                    <!-- form -->
                    <form 
                    data-th-action="@{'/do-register'}"
                     method="post" 
                     data-th-object="${userForm}" 
                     class="mt-4">
                     
                        <!-- name -->
                        <div class="mb-0 mt-2">
                            <label for="name" class="block mb-2 mt-3 text-sm font-medium text-gray-900 dark:text-white">Your Name</label>
                            <input type="text" data-th-field="*{name}"  id="name" class="bg-gray-50 border 
                            mb-0 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Type your name" required />
                            <p 
                            data-th-if="${#fields.hasErrors('name')}"
                            data-th-errors="*{name}"
                            class="text-red-500 p-1 px-1">Name is required</p>
                        </div>
                        
                        

                        <!-- email -->
                        <div class="mb-0 mt-2">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                            <input data-th-field="*{email}" type="email"  id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@gmail.com" required />
                            <p 
                            data-th-if="${#fields.hasErrors('email')}"
                            data-th-errors="*{email}"
                            class="text-red-500 p-1 px-1">required</p>
                        </div>
                        
                        <!-- password -->
                        <div class="mb-0 mt-2">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input type="password" data-th-field="*{password}" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                            <p 
                            data-th-if="${#fields.hasErrors('password')}"
                            data-th-errors="*{password}"
                            class="text-red-500 p-1 px-1"> required</p>
                        </div>
                        
                        <!-- contact no -->
                        <div class="mb-0 mt-2">
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Number</label>
                            <input type="text" data-th-field="*{phonenumber}" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white                              dark:focus:ring-blue-500 dark:focus:border-blue-500"  required />
                            <p 
                            data-th-if="${#fields.hasErrors('phonenumber')}"
                            data-th-errors="*{phonenumber}"
                            class="text-red-500 p-1 px-1"> required</p>
                        </div>
                        
                        <!-- text area -->

                        <label for="message" class="block mb-2 mt-2 text-sm font-medium text-gray-900 dark:text-white">About</label>
                        <textarea id="message" data-th-field="*{about}" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border                              border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600                           dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
                        <p 
                        data-th-if="${#fields.hasErrors('about')}"
                        data-th-errors="*{about}"
                        class="text-red-500 p-1 px-1"> required</p>
                        <!-- submit -->
                        <section class="flex gap-3">
                            <button type="submit" class="text-white mt-3 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                            
                            <button type="reset" class="text-white mt-3 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset</button>
                        </section>
                        
                    </form>
                </a>
            </div>
        </div>
    </div>
    
</body>
</html>