<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::section},~{::title})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <section class="sec flex items-center mx-auto p-4 flex-col motion-translate-x-in-[-480%] motion-translate-y-in-[300%] motion-opacity-in-[33%] motion-rotate-in-[-1080deg] motion-blur-in-[10px] motion-delay-[0.38s]/scale motion-duration-[0.68s]/opacity motion-duration-[2.20s]/rotate motion-duration-[0.15s]/blur motion-delay-[0.60s]/blur motion-ease-spring-bouncier">
        <h1 >💪🏻</h1>
    </section>
    
</body>
</html>